<div class="w-80 bg-sky-100 my-3 rounded flex flex-col">
  <p class="px-3 py-2"><%=name%></p>
  <p class="px-3 py-2">Author: <%=author%></p>
  <p class="px-3 py-2">Total enrolled: <%=strength%></p>
  <div class="h-max flex justify-between">
    <a href="/courses/<%= id %>" class="bg-green-300 p-4">View Course</a>
    <a href="" class="bg-blue-300 p-4">Enroll</a>
  </div>
</div>
