<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
  </head>
  <body>
    <header class="flex items-center">
      <h1 class="px-80 my-12 font-bold text-4xl"><%= name %></h1>
      <% if(courseOwner) { %>
      <a
        href=""
        class="border-red-700 border rounded px-4 py-2 bg-red-700 text-white"
        >Delete Course</a
      >
      <% } %>
    </header>
    <hr class="h-1 w-[80%] m-auto bg-gray-200 border-0 dark:bg-gray-700" />
    <main>
      <p class="text-xl text-center my-8">
        This course has no chapters<% if(courseOwner) {%>
        <a href="/courses/<%= courseID %>/chapters/new">Create one?</a><% } %>
      </p>
    </main>
  </body>
</html>
