<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
  </head>
  <body>
    <div id="root" class="flex justify-center w-full flex-col">
      <form
        action="/changePassword"
        method="post"
        class="flex flex-col items-center"
      >
        <h1 class="text-4xl py-16 font-bold">Change password</h1>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input
          type="password"
          name="oldPassword"
          placeholder="Old password"
          class="border box-border my-4 mx-6 bg-slate-100 px-4 py-2 w-[33.33vw]"
        />
        <input
          type="password"
          name="newPassword"
          placeholder="New password"
          class="border box-border my-4 mx-6 bg-slate-100 px-4 py-2 w-[33.33vw]"
        />
        <input
          type="password"
          name="newRepassword"
          placeholder="Retype New password"
          class="border box-border my-4 mx-6 bg-slate-100 px-4 py-2 w-[33.33vw]"
        />
        <input
          type="submit"
          value="Change password"
          class="w-min bg-green-700 py-2 px-5 text-white"
        />
      </form>
      <ul class="list-none w-full flex flex-col justify-center items-center">
          <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
              <li class="bg-red-600 px-6 py-4 my-4 text-white"> <%= messages.error[i] %></li>
            <% } %>
          <% } %> 
      </ul>
    </div>
  </body>
</html>
