<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LMS</title>
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
  </head>
  <body>
    <div id="root" class="flex justify-center">
      <div class="min-w-[33.33vw]">
        <h1 class="text-center text-4xl font-bold">
          Learning Management System
        </h1>
        <a class="text-blue-600 underline" href="/signup">Sign up</a>
        <br /><br />
        <a class="text-blue-600 underline" href="/login">Sign In</a>
      </div>
    </div>
  </body>
</html>
