<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
  </head>
  <body>
    <h2 class="text-3xl font-bold px-16 my-4">
      Create New Page in <%= chapterName %>
    </h2>
    <form
      action="/page"
      method="post"
      class="flex flex-col items-center px-20 m-auto"
    >
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="hidden" name="chapterId" value="<%= chapterId %>" />
      <input
        type="text"
        name="name"
        placeholder="Enter page name"
        class="border rounded py-2 px-4 bg-slate-100 text-lg my-2 w-full"
      />
      <textarea
        name="content"
        id="content"
        rows="15"
        placeholder="Enter page content (markdown supported)"
        class="border rounded py-2 px-4 bg-slate-100 text-lg my-2 w-full"
      ></textarea>
      <input
        type="submit"
        value="Submit"
        class="w-min bg-green-700 py-2 px-5 text-white my-4"
      />
    </form>
  </body>
</html>
